.container {
  max-width: 870px;
  min-width: 300px;
  height: auto;
  margin: 20px auto;
  padding: 5px;
}

.loading-cnt {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-404 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
