.location-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

.location-img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  filter: opacity(50%);
}

.weather-info-overlay {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.location-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.fav-icon {
  margin-left: auto;
}

.main-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.main-info-text {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  padding-left: 1rem;
  font-size: 18px;
  font-weight: 700;
  color: darkblue;
  flex: 1;
}

.temperature {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2px;
}

.location-name {
  font-size: 2.5rem;
  color: rgb(44, 44, 173);
  font-weight: bold;
  margin-bottom: 8px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
