.lc_location-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  height: 600px;
  position: relative;
}

.lc_location-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lc_location-img_default {
  filter: blur(12px);
}

.lc_weather-info-overlay {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.lc_location-header {
  padding: 8px;
}

.lc_location-name {
  font-size: 2.5rem;
  color: white;
  width: 80%;
}

.lc_fav-icon {
  color: white;
  position: absolute;
  top: 0;
  right: 0;
}

.lc-main-data {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.lc_temperature-text {
  text-align: center;
  vertical-align: text-bottom;
  color: white;
  font-size: 5rem;
  padding-left: 10px;
}

.lc_weather-icon {
  width: 100%;
  margin-left: 5px;
}

.lc_weather-icon_inverted {
  filter: brightness(0) invert(1);
}
.lc-description-text {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.lc_feels-like-text {
  font-size: 1rem;
}

.lc_corner-upper-left-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom right,
    rgba(0, 27, 91, 0.3) 15%,
    transparent
  );
}

.lc_bottom-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25%;
  background: rgba(75, 74, 74, 0.1);
  backdrop-filter: blur(11px);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lc_temprature-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.lc_add-info-section {
  color: white;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.lc_vertical-separator {
  border-left: 1px solid #b1aeae;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 800px) {
  .lc_location-name {
    font-size: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .lc_location-name {
    font-size: 1.5rem;
  }
  .lc-description-text {
    font-size: 1rem;
  }

  .lc_feels-like-text {
    font-size: 0.9rem;
  }
  .lc_temperature-text {
    font-size: 2rem;
  }
  .lc_weather-icon {
    width: 50%;
  }
  .lc_temprature-section {
    flex: 1;
  }
  .lc_add-info-section {
    flex: 2;
  }
}
